{{#each this}}
  <div class='col'>
    <a href="{{id}}" class='card text-decoration-none'>
      <div class='row g-0'>
        <div class='col-md-2'>
          <img
            src='{{image}}'
            class='img-fluid rounded-start'
            alt='{{firstName}} {{lastName}} {{maidenName}}'
          />
        </div>
        <div class='col-md-10'>
          <div class='card-body pb-1'>
            <h5 class='card-title'>
              <div class='alert alert-info float-md-end d-none d-md-block p-1'>
                <small>
                  Age
                  <span class='badge text-bg-light'>{{age}}</span>
                </small>
              </div>

              <p>{{firstName}} {{lastName}} {{maidenName}}</p>
            </h5>
            <p class='card-text d-none'>{{city}}
              <small class='text-muted'>{{postalCode}}</small></p>
            <p class='alert alert-warning p-1'><b>Company</b>
              &ndash;
              {{companyName}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
{{/each}}